.title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.icons {
  margin-top: 2em;
}

.load {
  border: 1px solid rgba(192, 188, 188, 0.329);
  border-radius: 3px;
  /* box-shadow: 2px 2px 2px rgba(214, 209, 209, 0.645); */
  padding: 0em 0.5em;
}
